
body {
    font-family: 'Outfit', sans-serif;
}

li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    background-color:white;
    margin-right: 10px;
    margin-top: 18px;
    padding: 10px;
    font-size: 23px;
    float: right;
}

li a {
    color: black;
}

li:hover {
    transform: scale(1.1);
    transition: transform .4s;
    background-color: #cae11d;
}




.conteiner {
    background-color: gray;
    height: 900px;
    margin-left: 240px;
    margin-right: 240px;
}

.obj {
    position: relative;
    margin-right: 60px;
}


.menu {
    padding: 14px;
    width: 1000px;
    height: 150px;
    position: absolute;
    background-color: rgb(5, 160, 183);
    border-bottom: 1px solid black;
    position: relative;
    margin: 0 auto;
    top: 10px;
    border-radius: 10px;
    overflow: none;
    
    
}

.aba {
    position: relative;
    top: 20%;
}

.logo {
    position:relative;
    bottom:25px ;
    left: 10px;
    border: 3px solid black;
    box-shadow: 1px 1px 7px 1px;
    
    width: 14%;
    border-radius: 90px;
    
    
}


.texto1 {
    background-color: white;
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

