
body {
    font-family: 'Outfit', sans-serif;
    background-color: aqua;
    overflow-x: hidden;
}

li {
    display: inline-block;
    margin-left: 130px;
    margin-top:20px;
    font-size: 23px;
    float: right;
}





.menu {
    padding: 14px;
    width: 1510px;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(to top right, rgb(0, 149, 255), rgb(0, 0, 0));
    border: 1px solid black;
    overflow: none;
    box-shadow: 1px 1px 21px blue;
    
    
}

.obj {
    position: relative;
    margin-right: 100px;
}

li a {
    color: white;
}

li a:hover  {
    color: rgb(137, 171, 35);
    transition: color .4s;
}


.aba {
    position: relative;
    top: 17%;
}

.logo-sobre-nos {
    position: absolute;
    left: 1020px;
    top: 10px;
    width: 50px;
    border: 1px solid black;
    border-radius: 100%;
    
}

.logo-sobre-nos:hover {
    transform: scale(1.1);
    transition: transform .4s;

}

.logo {
    position:relative;
    bottom:23px ;
    left: 50px;
    border: 3px solid black;
    box-shadow: 1px 1px 7px 1px;
    width: 7%;
    border-radius: 90px;
    
    
}

.logo:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.bitcoin {
    position: relative;
    float: right;
    margin-right: 70px;
    margin-top: 200px;
    width: 500px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px ;

}

 .bitcoin img {
    height: 100%;
    width: 100%;
}

figcaption {
    position: absolute;
    top: 0px;
    text-indent: 40px;
    opacity: 0;
    height: 100%;
    width: 100%;
   
}

figcaption:hover {
    opacity: 1;
    background-color: black;
    opacity: .4;
    color: white;
    width: 100%;
    height: 100%;
    transition: background-color .4s;
    box-shadow: 1px 1px 15px blue;
}

div .divisor-esquerda {
    position: absolute;
    height: 800px;
    width: 800px;
    float: left;
    top: 130px;
    border-right: 2px solid black;

}

div .texto1 {
    position:sticky;
    top: 60px;
    background-color: white;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    margin: 68px 0px 0px 50px;
    width: 700px;
    height: 500px;
}

.titulo {
    position: relative;
    text-align: center;
    margin-top: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
    background-color: black;
    color: white;
}

.fundo-do-paragrafo{
    padding: 40px;
    background-color: rgb(155, 155, 155);
    font-size: 20px;
    height: 360px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
 
}

.linha2 {
    position: absolute;
    width: 48px;
    height: 10px;
    background-color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 10px;
    left: 700px;
    bottom: 200px;
}


.aba-do-caderno {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width:561px ;
    background-color: red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.subtitulo-caderno{
    position: relative;
    text-align: center;
    top:30%;
}
.prego1 {
    background-color: rgb(255, 255, 0);
    position: relative;
    float: right;
    top: -30%;
    right: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
}

.prego2 {
    background-color: rgb(255, 255, 0);
    position: relative;
    float: left;
    top: -30%;
    left: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
}

.linha-horizontal-prego {
    position: relative;
    border: 1px solid black;
    top: 50%;
    width: 15px;
    margin: 0 auto;
}

.linha-vertical-prego {

    position: relative;
    border: 1px solid black;
    top: 6px;
    height: 15px;
    width: 0;
    margin: 0 auto;
    
}

.fundo-do-paragrafo p {
    background-color: rgb(233, 233, 234);
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 300px;
    padding-left:30px ;
    padding-right: 30px;
    
}




